# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Distribution / packaging
MANIFEST
wheels/
*.egg-info
build/
dist/

# Test outputs
test/*.out

# Editors
.vscode
!.vscode/extensions.json
.DS_Store
